@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #000;
  color: white;
}

::selection {
    background-color: rgb(192 132 252 ); /* Set your desired background color */
    color: #000; /* Set your desired text color */
  }
  

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
 

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
  }